<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flack</title>
    <link rel="stylesheet" href="static/common.css">
    <link rel="stylesheet" href="static/chat.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function(e){
            localStorage.setItem("user", "{{name}}");
        })
    </script>
    
    <script src="static/chat.js"></script>
</head>
<body>
    <h3 id="name" >{{name}}</h3>
    <div id="buttons">
        <button class='fluffy-button top-button' id='change_username'>Change Username</button>
        <button class='fluffy-button top-button' id='chatbot'>Talk to the Chatbot</button>
    </div>
    

    <!--
        change username
    -->
    <div class='invisible' id='change_username_screen'>
        <input type = "text" id='newname'/><button id='change'>Change</button>
    </div>

    <div id="wrapper" class="center">
        <div id="rooms">
            <div id="choices">
                {% for i in rooms %}
                    <button class="room-button fluffy-button">{{i}}</button>
                {% endfor %}
            </div>
            <div id="creation">
                <input type="text" class="fluffy-input" id='create_room_input'/>
                <button class="fluffy-button" id='create_room_button'>Criar</button>
            </div>
        </div>
        <div id="chat">
            <div id="display"></div>
            <div id="sendingwrap">
                <input type='text' name="message" id="message" class="fluffy-input"/>
                <button class="fluffy-button" id='send'>Send</button>
            </div>
            
        </div>

    <div>
    
</body>
</html>